<div class="dialog-container">
  <h1 mat-dialog-title class="dialog-title">新しいボードゲームを追加</h1>

  <div mat-dialog-content class="dialog-content">
    <div class="form-grid">
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>名前</mat-label>
        <input matInput [(ngModel)]="data.name" cdkFocusInitial>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width-field">
        <mat-label>最小人数</mat-label>
        <input matInput type="number" [(ngModel)]="data.min">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width-field">
        <mat-label>最大人数</mat-label>
        <input matInput type="number" [(ngModel)]="data.max">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width-field">
        <mat-label>所要時間(分)</mat-label>
        <input matInput type="number" [(ngModel)]="data.time">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width-field">
        <mat-label>所有者</mat-label>
        <input matInput [(ngModel)]="data.ownerName">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-field" >
        <mat-label>タグ</mat-label>
        <mat-chip-grid #chipGrid>
          <mat-chip-row *ngFor="let tag of data.tags" (removed)="removeTag(tag)">
            {{tag}}
            <button matChipRemove><mat-icon>cancel</mat-icon></button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="新しいタグ..." [matChipInputFor]="chipGrid" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)" />
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button (click)="onNoClick()">キャンセル</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="data">追加</button>
  </div>
</div>