<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>

  <!-- ログイン状態に応じて表示を切り替え -->
  <ng-container *ngIf="isLoggedIn; else loggedOut">
    <div class="user-info-toolbar" *ngIf="isLoggedIn">
      <img *ngIf="userPhotoUrl" [src]="userPhotoUrl" alt="User Photo" class="user-photo-toolbar">
      <span class="user-display-name-toolbar">{{ userNickname | slice:0:10 }}{{ userNickname && userNickname.length > 10 ? '...' : '' }}</span>
      <button mat-icon-button (click)="openEditNicknameDialog()" matTooltip="ニックネームを編集">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()" matTooltip="ログアウト">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #loggedOut>
    <button mat-icon-button (click)="loginWithGoogle()" matTooltip="ログイン">
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>

  </mat-toolbar>

<router-outlet />