<mat-toolbar class="app-toolbar">
  <img src="/icon.png" alt="HARIDICE Logo" class="toolbar-logo">
  <span>HARIDICE</span>
  <span class="toolbar-spacer"></span>
  @if (isLoggedIn) {
    <div class="user-profile">
      @if (userPhotoUrl) {
        <img [src]="userPhotoUrl" alt="User Photo" class="user-photo">
      }
      <span class="user-nickname">{{ userNickname }}</span>
      <button mat-icon-button (click)="openEditNicknameDialog()" matTooltip="ニックネームを編集">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <button mat-icon-button (click)="logout()" matTooltip="ログアウト">
      <mat-icon>logout</mat-icon>
    </button>
  } @else {
    <button mat-icon-button (click)="loginWithGoogle()" matTooltip="ログイン"><mat-icon>login</mat-icon></button>
  }
</mat-toolbar>

<div class="hero-section">
  <img src="/bg_manager_logo.png" alt="HARIDICE Logo" class="hero-logo">
</div>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>