.list-container {
  padding: 24px;
}

.filter-card {
  margin-bottom: 24px;
  background-color: var(--surface-color);
}

.filter-card-content {
  display: flex;
  align-items: center; /* stretchに変更して高さを揃える */
  gap: 16px;
  padding: 16px !important;
}

.filter-input {
  flex-grow: 1;
}

.table-container {
  border-radius: var(--border-radius);
  overflow: auto; // 縦横のスクロールを有効にする
  background-color: var(--surface-color);
  // ビューポートの高さから、ヘッダーやフォームなどの他の要素の高さを引いた値を設定
  max-height: calc(100vh - 250px); 
}

.mat-mdc-table {
  width: 100%;
  min-width: 800px; /* テーブルの最小幅を確保 */
}

.mat-mdc-table {
  width: 100%;
}

.mat-mdc-header-cell {
  background-color: #f5f5f5;
  color: var(--text-color);
  font-weight: 500;
}

.data-row {
  transition: background-color var(--transition-speed);
}

.data-row:hover {
  background-color: #f0f0f0;
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name-text {
  font-weight: 500;
}

.star-cell {
  white-space: nowrap; /* 星が改行されないようにする */
}

.star-cell .mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.custom-chip {
  background-color: var(--accent-color) !important;
  color: #fff !important;
  transition: background-color var(--transition-speed);
}

.custom-chip:hover {
  background-color: var(--accent-color-hover) !important;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
}

@media (max-width: 768px) {
  .list-container {
    padding: 16px;
  }

  .filter-card-content {
    flex-direction: column;
  }

  .search-container {
    width: 100%;
  }
}
